# Login Information to Database
connection.json
credentials.json

node_modules/
retrieval/yolo/yolov8_onnx_nodejs-main/
retrieval/get_pdf/pdfs/
retrieval/get_images/images/

# for test purposes this directory exists
# retrieval/get_pdf/small_subset_pdfs

#This will be automatically created when running "npm install"
package-lock.json

# Mac specific
.DS_Store